/**
color: #CAA974;#370d0d;#A1A1A1
*/

#main-header{background: #fff;width: 100%;padding: 10px 0 30px 0;}
#main-header .middle{margin-top: 20px;color: #7B7B7B}
.lang a{color:#CAA974}
.lang span{color: #bbb}

#main-menu-cover{position: absolute;width: 100%;height: auto;}
#main-menu{background: #CAA974;padding: 20px 0;margin: -20px auto 0 auto;border-radius: 6px}
#main-menu ul{padding: 0;margin:0 0 0 16px}
#main-menu ul li{display: inline-block;list-style: none;padding-right: 12px;}
#main-menu ul a{color: #fff;text-transform: uppercase;display: inline;padding: 0 8px;font-weight: 700}
#main-menu ul a.active{color: #370d0d;border-bottom: 3px solid #370d0d;padding-bottom: 18px}

#home-slider{margin-top: 0px}
#home-slider img{width: 100%;height: auto;}

#home-content{}

.text-cart{padding: 0 !important}

.bear-capt{margin:30px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding: 18px 0;font-size: 18px;color: #370d0d;letter-spacing: 3px;font-weight: 600}
#products-page .bear-capt{border:none;padding: 0;margin:0;}

.btn-login{border:1px solid #fff;padding: 10px;border-radius: 4px;text-transform: uppercase;color:#fff;}

.cart-cover span{padding-right: 35px}
.cart{position: absolute;margin:-10px 0 0 -20px;}

#list-products{margin-top: 38px}

.products{
	text-align: center;margin:0 0 20px 0 !important; 
	padding: 0;
}
.products img{padding:0 5px !important;}
.products p{margin: 30px 0 0px 0;color: #370d0d;font-weight: bold;font-size: 16px}
.products span{color: #c0a776;font-size: 14px}
.products a{color: #370d0d}
.products a:hover{color: #CAA974}

#testimoni{margin-top: 117px;}
#testimoni p{font-size: 30px;color: #370d0d;letter-spacing: 5px;font-family: din}
#testimoni p::before{content:open-quote;margin:-10px 0 0 -38px;}
#testimoni p::after{content:close-quote;margin:-10px 0px 0 4px;}
#testimoni p::after,#testimoni p::before{color: #CAA974;position: absolute;font-size: 70px;font-family: neutra !important}

#testimoni span{color: #c0a776;font-weight: 900}

#main-footer{background: #7b7b7b;color: #fff;padding: 30px 0;font-weight: 600}
#main-footer ul{margin: 0;padding: 0;clear: both;}
#main-footer li{margin-right: 10px}
#main-footer a{color: #fff}
#main-footer .socmed img{height: 27px; width:auto;}
#main-footer .socmed li{list-style: none;display: inline-block;}
#main-footer .link{margin-top: 6px}
#main-footer .link li{float: left;margin-right: 27px;color: #CAA974}
#main-footer .link li:first-child{list-style: none;color: #fff}

#mask{position: fixed;z-index: 9996;width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,0.4);display: none;}

#login-cover{position: fixed;z-index: 9997;width: 600px;top: 160px;left: 0;right: 0;margin:0 auto;display: none;}
#login-form{width: 100%;height: 315px;background: #fff;margin: auto;border-radius: 4px;position: relative;}

.register-side{width: 37% !important}
.login-side{width: 63% !important}
.login-side .form-control{margin-bottom: 27px}
.register-side, .login-side{padding: 30px !important}
.register-side{background: #fef2e4;height: 100%}
.register-side p{margin:0;font-size: 15px}
.register-side h5{margin-bottom: 20px}
.register-side span, .register-side strong{float: left;margin: 6px 0 10px 0}

.register-side img{width: 100%}
.register-side strong{width: 70%;padding-left: 10px;font-size: 12px}

.forgot{}
.forgot a{color: #c0a776;border-bottom: 1px solid #c0a776;padding-bottom: 3px;vertical-align: -5px;font-size: 12px;margin-left: -10px;}

#detail-products{}

#detail-products .pricing{font-size: 22px;font-weight: 900}

#detail-products h2{margin:0;}

#detail-products .images{border-radius: 4px}

.product-slide-cover{margin:0 !important;padding: 0 !important}
.product-slide{border-radius: 4px;width: 96%;height: 150px;background: #ccc;text-align: center;}

#left-menu{padding-right: 0;margin-right: 0}
#left-menu ul{margin:0;padding: 0}
#left-menu li{list-style: none;margin-top: 19px;}
#left-menu span{color: #CAA974}
#left-menu li a{color: #666;font-weight: 700;letter-spacing: -0.6px}
#left-menu li a:hover,#left-menu li a.active{color: #370d0d;text-decoration: none;}

#toCart{margin:20px 0}

#itemDetails h5{margin: 29px 0}
#itemDetails p{font-weight: 100;color: #444}
#itemDetails img{width: 50px;height: auto;margin-right: 16px}

.articles{margin-bottom: 20px}
.articles h3{margin: 9px 0 16px 0;font-weight: 700}
.articles article{font-size: 13px;color: #666}
.articles .btn-bear{margin-top: 20px}
.articles span{color: #777}

#paging{border-top: 2px solid #CAA974;margin-top: 39px;padding-top: 20px}
#paging .col-md-4{padding: 0;margin:0;}

.customer-care{padding: 20px;border:2px solid #CAA974;border-radius: 6px;background: #FEF2E4}

.cart-product{}
.cart-product p{margin: 10px 0 0 0;font-weight: 900}
.cart-product span{color: #666;font-size: 13px}

.list-cart td{vertical-align: middle !important;}
.list-cart .remove a{color: red}

#checkout-page{margin-bottom: 70px}

#checkout-page p.address, #checkout-page p.upp{margin-top:20px;}

#checkout-page p.address{margin-bottom: 20px}

#checkout-page .tnc{margin-bottom: 20px}
#checkout-page .tnc a{color: red}

#order-preview{background: #fff;padding: 16px 20px 20px 20px}
#order-preview .active{color: #333;font-weight: 900}
#order-preview .row{margin-top: 17px}
#order-preview h5{margin-bottom: 29px}
#order-preview .total{font-weight: 900}

#payment-confirmation article{line-height: 1.7;font-size: 16px}
#payment-confirmation form,#feedback form{display: block;width: 60%;margin:38px auto 0px auto;}

#menu-profile{width: 100%;text-align: center;margin:30px 0;}
#menu-profile li{float: none;display: inline-block;width: 20%}
#menu-profile li a{color: #777;font-weight: 900}
#menu-profile li.active a{background-color: transparent !important;border:none;color: #CAA974}

#content-profile{margin:0 auto 80px auto;}
#content-profile #profile{}
#content-profile .row{margin:0;width: 67% !important;}
#content-profile .row a{color: red;padding-left: 8px}
#content-profile .row p{color: #555}

.order-list .image{padding-left:0 !important;}
.order-list{border-bottom: 1px solid #ccc;padding: 20px 0;}
.order-list:first-child{padding-top: 0}
.order-list:last-child{border:none;}
.order-list h5{margin:0;}
.order-list ul{margin:10px 0;padding: 0;color:#666;}
.order-list li{list-style: none;display: inline-block;margin-right: 24px}
.order-list article{background: #FDE4BC;padding: 10px;color: #666;border-radius: 6px;font-size: 13px}

.register-first-column{width: 39% !important}
.register-second-column{width: 39% !important}
.register-third-column{width: 22% !important}

.menu-icon{display: none;color: #fff;font-size: 17px}

.product-option{margin-top: 20px;border-bottom: 1px solid #bbb;padding-bottom: 10px}
.product-option div{padding: 0;padding-right: 10px}
